In [1]:
import pandas as pd
# Membuat dataframe dari data yang disalin ke clipboard
df = pd.read_clipboard()

#Menampilkan data frame
print(df)

                              Putra  laki - laki  2023  170  150  \
0                             Rafiq  laki - laki  2023  175   30
1               Faiz Abyan Heryanto  laki - laki  2023  165   45
2                           Michael  laki - laki  2023  167   15
3        partahi daniel tua limbong  laki - laki  2023  173   45
4                   hafidz ramadhan  laki - laki  2023  169   15
5                         Francisco  laki - laki  2023  170   30
6           Muhammad Rayyan Naufal   laki - laki  2023  171   50
7                 Yustianas Rombon   laki - laki  2023  173   30
8             Zahwa Nur Azkia Putri    perempuan  2023  154   15
9                          Dave F.M  laki - laki  2023  168   60
10                  Calista Azzahra    perempuan  2023  160  150
11                           Fairuz    perempuan  2023  156   45
12              Gwen Alaina Marela     perempuan  2023  152   17
13                   Michael Briant  laki - laki  2023  167   10
14                     ariel febrio  laki - laki  2023  170   35
15  Rasyid Ridho Muhammad Noor Rafi  laki - laki  2023  170   45
16                            Monic    perempuan  2023  160   75
17        Mara Sutan Arrafi Siregar  laki - laki  2023  170   90
18               Zulfadli Daniswara  laki - laki  2023  170   45
19            Rangga Aditya Pradana  laki - laki  2023  185   90
20           Mutiara Novianti Rambe    perempuan  2023  160   60
21            Faiz Firdaus Priyanto  laki - laki  2023  165   30
22           rafael gala herlambang  laki - laki  2023  175   15
23                   Noval Susanto   laki - laki  2023  177   60
24       Fadhil Ibrahim Wira Dharna  laki - laki  2023  169   60
25              Kevin Rizky Pradana  laki - laki  2023  173   60
26     Dewanto Maulana Sukaro Putra  laki - laki  2023  172   40
27                  Arik Dias Putra  laki - laki  2023  177   60
28                  Muhammad Hakim   laki - laki  2023  170   10
29        Andrew Hendrian Nathanael  laki - laki  2023  172   13
30            NUZURUL HAQI FADILLAH  laki - laki  2023  171   60
31                            April    perempuan  2023  156   10
32                            Putri    perempuan  2023  155   10
33                             Naya    perempuan  2023  165   10

                     Bekasi
0            Kampung Tengah
1           Tanjung Priuk,
2             Jakarta Utara
3             jakarta utara
4                    Grogol
5              daan mogort
6             Jakarta Timur
7            Jakarta Utara
8                    grogol
9                Tangerang
10                   Bekasi
11            Tanjung Priok
12                   Gambir
13              Jl. Tawakal
14            kelapa gading
15               Cengkareng
16            Jakarta Timur
17     Sunter Kelapa gading
18         Kampung Makasar
19              Kota Bekasi
20  Pejaten,Jakarta Selatan
21                 Jakarta
22            gunung sahari
23                    Depok
24                   Cipadu
25              Duren Sawit
26            Tanjung Priok
27                Tangerang
28               Tamansari
29                   tomang
30                Tangerang
31                  Muwardi
32                  Muwardi
33                  Tawakal

In [4]:
df

,Nama Lengkap,Gender,Angkatan,Tinggi Badan,waktu perjalanan / menit,Wilayah Tinggal
0,Dave,laki - laki,2023,168,NaN,Tangerang
1,Francisco,laki - laki,2023,170,30.0,rusunawa pesakih
2,Faiz Abyan Heryanto,laki - laki,2023,165,45.0,"Tanjung Priuk,"
3,Michael,laki - laki,2023,167,15.0,Jakarta Utara
4,partahi daniel tua limbong,laki - laki,2023,173,45.0,jakarta utara
5,hafidz ramadhan,laki - laki,2023,169,15.0,Grogol
6,Francisco,laki - laki,2023,170,30.0,daan mogort
7,Muhammad Rayyan Naufal,laki - laki,2023,171,50.0,Jakarta Timur
8,Yustianas Rombon,laki - laki,2023,173,30.0,Jakarta Utara
9,Zahwa Nur Azkia Putri,perempuan,2023,154,15.0,grogol
10,Dave F.M,laki - laki,2023,168,60.0,Tangerang
11,Calista Azzahra,perempuan,2023,160,150.0,Bekasi
12,Fairuz,perempuan,2023,156,45.0,Tanjung Priok
13,Gwen Alaina Marela,perempuan,2023,152,17.0,Gambir
14,Michael Briant,laki - laki,2023,167,10.0,Jl. Tawakal
15,ariel febrio,laki - laki,2023,170,35.0,kelapa gading
16,Rasyid Ridho Muhammad Noor Rafi,laki - laki,2023,170,45.0,Cengkareng
17,Monic,perempuan,2023,160,75.0,Jakarta Timur
18,Mara Sutan Arrafi Siregar,laki - laki,2023,170,90.0,Sunter Kelapa gading
19,Zulfadli Daniswara,laki - laki,2023,170,45.0,Kampung Makasar
20,Rangga Aditya Pradana,laki - laki,2023,185,90.0,Kota Bekasi
21,Mutiara Novianti Rambe,perempuan,2023,160,60.0,"Pejaten,Jakarta Selatan"
22,Faiz Firdaus Priyanto,laki - laki,2023,165,20.0,Jakarta
23,rafael gala herlambang,laki - laki,2023,175,15.0,gunung sahari
24,Noval Susanto,laki - laki,2023,177,60.0,Depok

In [9]:
# Menghitung rata-rata tinggi
rata_tinggi = df['Tinggi Badan'].mean()
rata_tinggi

167.4

In [11]:
print(df.dtypes)

Nama Lengkap                 object
Gender                       object
Angkatan                      int64
Tinggi Badan                  int64
waktu perjalanan / menit    float64
Wilayah Tinggal              object
dtype: object

In [21]:
df['Angkatan'] = df['Angkatan'].astype(str)

In [22]:
print(df.dtypes)

Nama Lengkap                 object
Gender                       object
Angkatan                     object
Tinggi Badan                  int64
waktu perjalanan / menit    float64
Wilayah Tinggal              object
dtype: object

In [19]:
df = pd.read_csv("Data prob&statistika (Jawaban).csv")

In [20]:
df = pd.read_excel("Data prob&statistika (Jawaban).xlsx")

In [21]:
print(df)

    Unnamed: 0                     nama lengkap       gender  angkatan  \
0          NaN                            Putra  laki - laki      2023
1          NaN                            Rafiq  laki - laki      2023
2          NaN              Faiz Abyan Heryanto  laki - laki      2023
3          NaN                          Michael  laki - laki      2023
4          NaN       partahi daniel tua limbong  laki - laki      2023
5          NaN                  hafidz ramadhan  laki - laki      2023
6          NaN                        Francisco  laki - laki      2023
7          NaN          Muhammad Rayyan Naufal   laki - laki      2023
8          NaN                Yustianas Rombon   laki - laki      2023
9          NaN            Zahwa Nur Azkia Putri    perempuan      2023
10         NaN                         Dave F.M  laki - laki      2023
11         NaN                  Calista Azzahra    perempuan      2023
12         NaN                           Fairuz    perempuan      2023
13         NaN              Gwen Alaina Marela     perempuan      2023
14         NaN                   Michael Briant  laki - laki      2023
15         NaN                     ariel febrio  laki - laki      2023
16         NaN  Rasyid Ridho Muhammad Noor Rafi  laki - laki      2023
17         NaN                            Monic    perempuan      2023
18         NaN        Mara Sutan Arrafi Siregar  laki - laki      2023
19         NaN               Zulfadli Daniswara  laki - laki      2023
20         NaN            Rangga Aditya Pradana  laki - laki      2023
21         NaN           Mutiara Novianti Rambe    perempuan      2023
22         NaN            Faiz Firdaus Priyanto  laki - laki      2023
23         NaN           rafael gala herlambang  laki - laki      2023
24         NaN                   Noval Susanto   laki - laki      2023
25         NaN       Fadhil Ibrahim Wira Dharna  laki - laki      2023
26         NaN              Kevin Rizky Pradana  laki - laki      2023
27         NaN     Dewanto Maulana Sukaro Putra  laki - laki      2023
28         NaN                  Arik Dias Putra  laki - laki      2023
29         NaN                  Muhammad Hakim   laki - laki      2023
30         NaN        Andrew Hendrian Nathanael  laki - laki      2023
31         NaN            NUZURUL HAQI FADILLAH  laki - laki      2023
32         NaN                            Putri    perempuan      2023
33         NaN                            April    perempuan      2023
34         NaN                             Naya    perempuan      2023

    tinggi badan  waktu perjalanan / menit          wilayah tinggal
0            170                       150                   Bekasi
1            170                        30           Kampung Tengah
2            165                        45          Tanjung Priuk,
3            167                        15            Jakarta Utara
4            173                        45            jakarta utara
5            169                        15                   Grogol
6            170                        30             daan mogort
7            171                        50            Jakarta Timur
8            173                        30           Jakarta Utara
9            154                        15                   grogol
10           168                        60               Tangerang
11           160                       150                   Bekasi
12           156                        45            Tanjung Priok
13           152                        17                   Gambir
14           167                        10              Jl. Tawakal
15           170                        35            kelapa gading
16           170                        45               Cengkareng
17           160                        75            Jakarta Timur
18           170                        90     Sunter Kelapa gading
19           170                        45         Kampung Makasar
20           185                        90              Kota Bekasi
21           160                        60  Pejaten,Jakarta Selatan
22           165                        30                 Jakarta
23           175                        15            gunung sahari
24           177                        60                    Depok
25           169                        60                   Cipadu
26           173                        60              Duren Sawit
27           172                        40            Tanjung Priok
28           177                        60                Tangerang
29           170                        10               Tamansari
30           172                        13                   tomang
31           171                        60                Tangerang
32           155                        10                  Muwardi
33           155                        10                  Muwardi
34           165                        10                  Tawakal